In [2]:
import pandas as pd
import random

# Enhance the dataset and increase the number of rows to 500

In [9]:
data = {
    "Factory_ID": [f"F-{i}" for i in range(1, 501)],
    "Region": [random.choice(["North", "South", "East", "West"]) for _ in range(500)],
    "Industry_Type": [random.choice(["Manufacturing", "Pharmaceutical", "Food Processing", "Automotive", "Textile"]) for _ in range(500)],
    "Date": [random.choice(list(pd.date_range("2024-01-01", "2024-12-31"))) for _ in range(500)],
    "Water_Consumption_m3": [round(random.uniform(50, 1000), 2) for _ in range(500)],
    "Leak_Alerts": [random.choice([0, 1]) for _ in range(500)],
    "Cost_Euros": [round(random.uniform(100, 10000), 2) for _ in range(500)],
    "Maintenance_Schedule_Days": [random.choice([30, 60, 90, 180]) for _ in range(500)],
    "Energy_Consumption_kWh": [round(random.uniform(100, 5000), 2) for _ in range(500)],
    "Production_Output_Tons": [round(random.uniform(10, 200), 2) for _ in range(500)],
    "Water_Saving_Potential_m3": [round(random.uniform(5, 50), 2) for _ in range(500)],
}

df = pd.DataFrame(data)

In [11]:
df.head(5)

,Factory_ID,Region,Industry_Type,Date,Water_Consumption_m3,Leak_Alerts,Cost_Euros,Maintenance_Schedule_Days,Energy_Consumption_kWh,Production_Output_Tons,Water_Saving_Potential_m3
0,F-1,North,Manufacturing,2024-12-04,82.11,1,7858.67,180,1012.13,182.01,34.90
1,F-2,North,Textile,2024-08-22,715.95,1,2947.17,30,1842.75,98.93,48.17
2,F-3,South,Manufacturing,2024-05-14,569.93,0,6150.30,60,150.47,160.27,43.07
3,F-4,North,Food Processing,2024-11-07,281.82,1,5001.82,30,1620.22,30.19,16.94
4,F-5,West,Automotive,2024-06-14,920.93,0,1361.46,180,1300.81,84.86,20.45

# Save to CSV

In [13]:
file_path = "./../data/industrial_water_consumption.csv"
df.to_csv(file_path, index=False)